/* Toda acentuação, pontuação, vai atender o UTF-8 - medida preventiva, caso a página não tenha essa configuração no header */
@charset "UTF-8";

/* Style para o corpo */
body {
    background-color: rgb(107, 59, 0);
    font-family: 'Courier New', Courier, monospace;
}

/* Style para o H1 */
h1 {
    background-color: rgb(176, 98, 2);
    color: white;
    font-size: 18px;
    text-align: center;

}

/* Style para o H2 */
h2 {
    background-color: rgb(206, 114, 2);
    color: white;
    font-size: 16px;
    text-align: center;
}

/* Style para o parágrafo */
p {
    background-color: white;
    color: black;
    font-size: 12px;
    text-align: justify;
}
